@import url('https://fonts.googleapis.com/css2?family=Workbench:SCAN@-10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Workbench:SCAN@-10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.defaultStyle {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.satisfy {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
.madimi {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html{
  overflow-x: hidden;
}

/* nav */
.logo{
  background: linear-gradient(to right,  
          darkblue,greenyellow); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
}
.workbench {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" -10;
}

/* login and sign up */
form input {
  width: 80%;
  max-width: 400px;
  height: 40px;
  border-radius: 50px;
  padding-left: 25px;
  font-size: 1.05rem;
  border: 1px solid #3332;
  font-family:cursive;
}
form input:hover{
  border: 1px solid #3335
}

form input:focus{
  border: 1px solid #333a;
  outline: none;
}
/* main */

.main::before,.main::after{
  position: absolute;
  content: "";
  top: 15vw;
  width: 300px;
  aspect-ratio: 1;
  border-radius: 100px;
  filter:blur(120px);
  z-index: -10;
  background: green;
  mix-blend-mode: multiply;
	animation: rotate 30s ease-in-out -5s infinite alternate;
	transform-origin:40vw 150px;
}
.main::after{
  right: 0;
  transform-origin: -20vw 100px;
  background: greenyellow;
	animation: rotate2 30s ease-in-out -1s infinite alternate;
  animation-direction: alternate-reverse;
}
@keyframes rotate {
	0%{
		transform: rotate(0deg);
    background: green;
	}
	50% {
		transform: rotate(360deg);
    background: purple;
	}
  100%{
    transform: rotate(180deg) translate(15px);
    background: violet;
  }
}@keyframes rotate2 {
	0%{
		transform: rotate(0deg);
    background: blue
	}
	50% {
		transform: rotate(360deg);
    background:indigo;
	}
  100%{
    transform: rotate(200deg) translate(15px);
    background: greenyellow;
  }
}


/* main */

/* hero */

.heropic{
  z-index: -1;
  width: 300px;
  height: 360px;
  background: url("./assets/heropic.jpg");
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.scanpic{
  z-index: -1;
  width: 300px;
  height: 360px;
  background: url("./assets/scanner.jpg");
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  filter: brightness(.75);
  transform: scaleX(-1);
}
/* footer */
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
    padding: 30px 0 0 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 12px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin:15px 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}